@use './modules';

:root {
	--clr-primary: #39c4f1;
	--clr-secondary: #303334;
}

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #434f53;
	background: #fff;
}

