.Moto {
	background-image: url('../img/home-slide.jpg');
	background-position: center;
	background-size: cover;
	height: 296px;
}

.Moto__container {
	padding: 50px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;	
}

.Moto__text {
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: 1;
	color: white;

	animation: moveInLeft 1s ease-out 0.3s;
}

@keyframes moveInLeft {
	
	0% {
		opacity: 0;
		transform: translateX(-500px);
	}

	80% {
		transform: translateX(15px);
	}

	100% {
		opacity: 100%;
		transform: translate(0);

	}
}

.Welcome {
	padding-bottom: 10px;
	border-bottom: 8px solid var(--clr-primary);
}

.Welcome__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 15px;
	box-sizing: border-box;
	text-align: center;
}

.Welcome__headline {
	margin: 0 auto;
	font: 32px Roboto, sans-serif;
	font-weight: 100;
	line-height: 1;
	text-transform: uppercase;
}

.Welcome__text {
	margin: 10px 0 0;
	padding: 0 1px;
	text-align: center;
	font: 18px Roboto, sans-serif;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 0;
}

.Gallery {
	background: #fafafa;
}

.Gallery__wrapper {
	padding: 50px 0;
	text-align: center;
}


.Gallery__headline {
	margin: 0 auto 20px auto;
	font: 32px Roboto, sans-serif;
	font-weight: 100;
	line-height: 1;
	text-transform: uppercase;
}

.Gallery__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.Gallery__item {
	height: 100%;
	line-height: 0;
}
.Gallery__item-link {
	width: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	transition: 0.3s all;
}

.Gallery__item-link::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
}

.Gallery__item-link:hover:after {
	background: rgba(0,0,0,0.5);
}

.Gallery__image {
	width: 100%;
	transition: 0.3s all;
}

.Gallery__item-link:hover> .Gallery__image {
	transform: scale(1.2);
}
.Gallery__caption {
	width: 100%;
	margin: 0;
	padding: 15px;
	position: absolute;
	bottom: -99px;
	box-sizing: border-box;
	font: 18px Roboto, sans-serif;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 0;
	text-align: left;
	background: var(--clr-primary);
	color: #fff;
	z-index: 2;
	transition: 0.3s all;
}

.Gallery__item-link:hover> .Gallery__caption {
	transform: translateY(-99px);
}

.Offers {
	padding: 20px 0 60px;
	border-bottom: 8px solid var(--clr-primary);
}

.Offers__container {
	padding: 0 15px;
}

.Offers__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.Offers__item {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Offers__item:last-child {
	margin-bottom: 0;
}

.Offers__headline {
	margin: 0 0 10px;
	font: 32px Roboto, sans-serif;
	font-weight: 100;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	letter-spacing: 0px;
}

.Offers__num {
	margin-bottom: 10px;
	padding: 19px 21px; 
	font: 48px Roboto, sans-serif;
	line-height: 1.2;
	letter-spacing: 0;
	font-weight: 100;
	color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
	border-radius: 50px;
}

.Offers__headline-offer {
	margin: 0;
	text-transform: capitalize;
	font: 18px Roboto, sans-serif;
	line-height: 1.3;
}

.Offers__headline-link {
	color: var(--clr-primary);
	text-decoration: none;
	font-weight: 300;
	transition: 0.3s all;

	&:hover {
		color:  var(--clr-secondary);
	}
}

.Offers__text {
	margin: 19px 0 0;
	text-align: center;
	font: 14px Roboto, sans-serif;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 0px;
	color:  var(--clr-secondary);
}

.Contact {
	padding: 50px 0;
	background: #fafafa;
}

.Contact__container {
	text-align: center;
}

.Contact__headline {
	margin: 0 0 20px;
	font: 32px Roboto, sans-serif;
	font-weight: 100;
	line-height: 1;
	text-transform: uppercase;
}

.Contact__form {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	background: #fafafa;
	border: 1px solid transparent;
}

.Contact__input,
.Contact__textarea {
	margin-bottom: 7px;
	padding: 20px 36px;
	font: 16px Roboto, sans-serif;
	font-weight: 300;
	line-height: 1.2;
	transition: 0.3s all;
	background: #fff;
	border: 1px solid #e7e7e7;
	border-radius: 30px;

	&:focus {
		outline: none;
	}
}

.Contact__input:nth-child(-n+3) {
	padding-left: 40px;
}

.Contact__textarea {
	margin-bottom: 0;
	padding: 20px 36px;
	resize: none;
}

.Contact__input--red-border:focus,
.Contact__textarea--red-border:focus {
	border-color: #f86c4e;
}

.Services {
	padding: 50px 0;
}

.Services__container {
	padding: 0 15px;
	text-align: center;
}

.Services__headline {
	margin: 0 0 20px;
	text-transform: uppercase;
	font: 32px Roboto, sans-serif;
	font-weight: 100;
	line-height: 1;
}

.Services__lists {
	margin-bottom: 30px;
}

.Services__menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.Services__menu--bottom {
	margin-top: 20px;
}

.Services__item {
	margin-bottom: 20px;
}

.Services__item:last-child {
	margin-bottom: 0;
}

.Services__heading-line {
	margin: 10px 0 0;
	text-align: left;
	font: 18px Roboto, sans-serif;
	font-weight: 300;
}

.Services__heading-link {
	text-decoration : none;
	color: var(--clr-primary);
	transition: 0.3s all;

	&:hover {
		color: var(--clr-secondary);
	}
}

.Services__text {
	margin: 20px 0 0;
	padding: 0 5px;
	font: 14px/1.4 Roboto, sans-serif;
	font-weight: 300;
	text-align: left;
}

.Services__item:last-child .Services__text {
	margin: 20px 0 0;
}

#map-canvas {
	width: 100%;
	height: 300px;
}

footer {
	padding: 40px 0 20px;
}

.footer__container {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__social-networks {
	list-style-type: none;
	margin: 0 0 20px;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	line-height: 1;
}

.footer__social-item {
	margin: 0 5px;
}

.footer__social-link {
	color: var(--clr-primary);
	transition: 0.3s all;
	font-size: 16px;

	&:hover {
		color:  var(--clr-secondary);
	}
}

.footer__text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__number {
	margin: 0 0 20px;
	font: 26px/1 Roboto, sans-serif;
	font-weight: 100;
	letter-spacing: 0;
}

.footer__number-link {
	text-decoration: none;
	color:  var(--clr-secondary);
	transition: 0.3s all;

	&:hover {
		color: var(--clr-primary);
	}
}


.footer__copyright-text {
	margin: 0;
	font: 15px/1.4 Roboto, sans-serif;
	font-weight: 300;
}

.footer__copyright-link {
	text-decoration: none;
	transition: 0.3s all;
	color:  var(--clr-secondary);

	&:hover {
		color: var(--clr-primary);
	}
}

@media only screen and (min-width: 480px) {
	.Moto {
		height: 326px;
	}

	.Moto__text {
		font-size: 50px;
	}

	.footer__number {
		font-size: 30px;
	}
}


@media only screen and (min-width: 768px) {
	main {
		padding-top: 101px;
	}

	.Moto {
		height: 328px;
	}

	.Moto__container {
		padding: 70px 0;
	}

	.Moto__text {
		font-size: 60px;
	}

	.Welcome__container {
		padding: 70px 15px;
	}

	.Welcome__headline {
		font-size: 40px;
	}

	.Gallery__wrapper {
		padding: 70px 0;
	}

	.Gallery__headline {
		font-size: 40px;
	}

	.Gallery__caption {
		font-size: 15px;
		line-height: 1.3;
	}

	.Offers {
		padding: 20px 0 60px;
		border-bottom: 8px solid var(--clr-primary);
	}

	.Offers__container {
		padding: 0;
	}

	.Offers__list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.Offers__item {
		margin: 0;
		padding: 0 15px;
		flex: 0 0 33.333%;
		box-sizing: border-box;
	}

	.Offers__headline {
		font-size: 40px;
	}

	.Offers__headline-link {
		font-size: 20px;
	}

	.Contact {
		padding: 70px 0;
	}

	.Contact__container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.Contact__headline {
		font-size: 40px;
	}

	.Services {
		padding: 70px 0;
	}

	.Services__container {
		padding: 0;
	}

	.Services__headline {
		font-size: 40px;
	}


	.Services__lists {
		padding-left: 5px;
	}

	.Services__menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}


	.Services__item {
		max-width: 33.33333333%;
		margin-bottom: 0;
		padding-right: 15px;
		display: flex;
		align-items: flex-start;
		flex: 0 0 33.33333333%;
		box-sizing: border-box;
	}

	.Services__item:nth-child(3) {
		padding-right: 0;
	}

	.Services__icon {
		max-width: 33.333333%;
		flex: 0 0 33.333333%;
		padding: 0 15px;
		box-sizing: inherit;
	}

	.Services__description {
		max-width: 66.666666%;
		flex: 0 0 66.666666%;
		padding-left: 15px;
		box-sizing: inherit;	
	}

	.Services__heading-line {
		margin: 0;
		font-size: 20px;
		line-height: 1.3;
		letter-spacing: 0px;
	}

	.footer__number {
		font-size: 41px;
	}
}

@media only screen and (min-width: 937px) {
	.Gallery__list {
		display: flex;
		flex-wrap: wrap;
	}

	.Gallery__item {
		flex: 0 0 50%;
	}	
}

@media only screen and (min-width: 1040px) {
	main {
		padding-top: 120px;
	}

	.Moto {
		height: 660px;
	}

	.Moto__container {
		padding: 155px 0 0;
	}

	.Moto__text {
		margin-bottom: 50px;
		font-size: 100px;
		line-height: 1.2;
	}

	.Welcome {
		padding-bottom: 25px;
	}

	.Welcome__container {
		padding: 155px 15px;
	}

	.Welcome__headline {
		font-size: 58px;
		letter-spacing: -1px;
	}

	.Welcome__text {
		margin: 25px 0 0;
		font-size: 22px;
		line-height: 1.4;
	}

	.Gallery__headline {
		margin: 0;
		padding: 85px 0 55px;
		font-size: 58px;
		letter-spacing: -1px;
	}

	.Gallery__caption {
		padding: 70px 60px 50px;
		bottom: -198px;
		font-size: 20px;
	}

	.Gallery__item-link:hover > .Gallery__caption {
		transform: translateY(-198px);
	}

	.Gallery__link {
		padding: 25px 66.5px;
		font-size: 24px;
	}

	.Gallery__widget {
		padding: 55px 0 85px;
	}

	.Offers {
		padding: 55px 0 165px;
	}

	.Offers__container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.Offers__headline {
		margin-bottom: 25px;
		font-size: 58px;
		letter-spacing: -1px;
	}

	.Offers__num {
		margin-bottom: 25px;
		padding: 48px 51px;
		font-size: 88px;
		border: 2px solid;	
		border-radius: 102px;
	}

	.Offers__headline-link {
		font-size: 24px;
	}

	.Offers__text {
		margin-top: 21px;
		font-size: 15px;
	}


	.Contact {
		padding: 155px 0;
	}

	.Contact__headline {
		margin-bottom: 55px;
		font-size: 58px;
		letter-spacing: -1px;
	}


	.Services {
		padding: 155px 0;
	}

	.Services__item {
		margin-bottom: 75px;
	}

	.Services__item--bottom {
		margin-bottom: 0px;
	}

	.Services__headline {
		margin-bottom: 55px;
		font-size: 58px;
		letter-spacing: -1px;
		line-height: 1;
	}

	.Lists {
		margin-bottom: 30px;
	}

	.Services__heading-line {
		font-size: 24px;
	}

	.Services__text {
		font-size: 15px;
		line-height: 1.4;
	}

	.Services__submit {
		min-width: 246px;
	}

	footer {
		padding: 55px 0;
	}

	.footer__social-networks {
		padding-top: 35px;
		margin-bottom: 55px;
	}

	.footer__social-item {
		margin: 0 16px;
	}

	.footer__social-link {
		font-size: 18px;
	}

	.footer__number {
		font-size: 58px;
		margin-bottom: 55px;
	}
}

@media only screen and (min-width: 1397px) {
	.Gallery__item {
		flex: 0 0 33.333%;
	}

	.Gallery__item:nth-child(7),
	.Gallery__item:last-child {
		flex: 0 0 50%;
	}

	.Services__container {
		max-width: 1200px;
		margin: 0 auto;
	}

}


