@charset "UTF-8";
.Header {
  padding-top: 1rem;
  border-bottom: 8px solid var(--clr-primary);
}

.Header__container {
  max-width: 120rem;
  padding: 0 1.5rem 5px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.Nav {
  width: 100%;
  position: absolute;
  top: -50rem;
  left: 0;
  padding: 0 1.5rem;
  box-sizing: border-box;
  transition: 0.3s all;
}

.Nav.is-collapsed {
  top: 11.6rem;
  z-index: 999;
}

.Nav__list {
  background: var(--clr-primary);
  border: 2px solid #fff;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.Nav__item {
  display: block;
  color: #fff;
  text-align: left;
  line-height: 1.4;
  border-bottom: 1px solid transparent;
}

.Nav__item:last-child {
  border: none;
}

.Nav__link {
  padding: 1rem 5rem 1rem 2rem;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  transition: 0.3s all;
}

.Nav__link--active {
  color: #303334;
  font-size: 1.5rem;
}

@media only screen and (min-width: 480px) {
  .Nav.is-collapsed {
    top: 11.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .Header {
    width: 100%;
    padding: 1rem 0 1.1rem 0;
    position: fixed;
    background: white;
    z-index: 1;
  }

  .Header__container {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Nav {
    position: static;
    width: auto;
    flex: 0 0 66.66666667%;
  }

  .Nav__list {
    display: flex;
    justify-content: center;
    background: white;
    border: none;
  }

  .Nav__item {
    margin-left: 1px;
    padding: 0;
    display: inline-block;
    border: none;
  }

  .Nav__item:first-child {
    margin-left: 0;
  }

  .Nav__link {
    padding: 2.1rem 1.4rem;
    font-size: 1.6rem;
    line-height: 3rem;
    color: var(--clr-secondary);
  }

  .Nav__link:hover {
    color: var(--clr-primary);
  }

  .Nav__link--active {
    color: var(--clr-primary);
  }
}
@media only screen and (min-width: 1040px) {
  .Header {
    padding: 2.5rem 0;
  }

  .Nav__link {
    font-size: 1.8rem;
    padding: 2px 1.6rem;
  }

  .Nav__list {
    height: 100%;
    align-items: center;
  }
}
.Header__button-nav {
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  position: relative;
}

.Header__button-nav:hover {
  cursor: pointer;
}

.Header__button-nav.is-activated {
  background: #9d9c9c;
  transition: 0.3s all;
}

.Header__button-icon,
.Header__button-icon::before,
.Header__button-icon::after {
  width: 2.147rem;
  position: absolute;
  height: 3.4999px;
  background: #9D9C9C;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
}

.Header__button-icon::before,
.Header__button-icon::after {
  content: "";
  left: 0;
  transform: none;
}

.Header__button-icon::before {
  top: -7px;
}

.Header__button-icon::after {
  bottom: -7px;
}

.Header__button-nav.is-activated > .Header__button-icon,
.Header__button-nav.is-activated > .Header__button-icon::before,
.Header__button-nav.is-activated > .Header__button-icon::after {
  background: #fff;
}

.Moto__widget {
  display: flex;
  flex-direction: column;
  animation: moveInBottom 1s ease-out;
}

.Moto__button {
  margin-bottom: 1rem;
  padding: 0;
  display: inline-block;
  border: none;
  border-radius: 3rem;
  outline: none;
  background: var(--clr-primary);
  transition: 0.3s all;
}
.Moto__button:hover {
  background: white;
}

.Moto__link {
  padding: 1.6rem 3.6rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: 1;
  color: white;
  text-decoration: none;
  transition: 0.3s all;
}
.Moto__link:hover {
  color: var(--clr-secondary);
}

.Moto__button--white {
  margin-bottom: 0;
  background: white;
}
.Moto__button--white:hover {
  background: var(--clr-secondary);
}
.Moto__button--white a {
  color: var(--clr-secondary);
}
.Moto__button--white a:hover {
  color: white;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  80% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.Gallery__widget {
  margin-top: 2rem;
}

.Gallery__button {
  min-width: 13.7rem;
  display: inline-block;
  padding: 0;
}

.Gallery__link {
  padding: 2rem;
  display: inline-block;
  font: 2rem Roboto, sans-serif;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1;
  color: white;
  border-radius: 3rem;
  transition: 0.3s all;
  background: var(--clr-primary);
}
.Gallery__link:hover {
  background: var(--clr-secondary);
}

.Contact__submit {
  min-width: 13.7rem;
  padding: 0;
  display: inline-block;
  border: none;
  border-radius: 3rem;
  outline: none;
}

.Contact__submit-link {
  padding: 2rem;
  display: block;
  font: 2rem Roboto, sans-serif;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1;
  background: var(--clr-primary);
  color: white;
  border-radius: 3rem;
  transition: 0.3s all;
}
.Contact__submit-link:hover {
  background: var(--clr-secondary);
}

.Services__submit {
  min-width: 13.7rem;
  padding: 0;
  display: inline-block;
  border: none;
  outline: none;
}

.Services__submit-link {
  padding: 2rem;
  display: block;
  border-radius: 3rem;
  font: 2rem Roboto, sans-serif;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1;
  background: var(--clr-primary);
  color: white;
  transition: 0.3s all;
}
.Services__submit-link:hover {
  background: var(--clr-secondary);
}

@media only screen and (min-width: 480px) {
  .Header__button-nav {
    margin-top: 1px;
  }
}
@media only screen and (min-width: 768px) {
  .Header__button-nav {
    display: none;
  }

  .Moto__widget {
    flex-direction: row;
  }

  .Moto__button {
    margin-bottom: 0;
  }

  .Moto__button:first-child {
    margin-right: 3rem;
    margin-left: 3px;
  }
}
@media only screen and (min-width: 1040px) {
  .Moto__link {
    padding: 2rem 5.7rem;
    font-size: 2rem;
  }

  .Contact__submit {
    min-width: 24.6rem;
  }

  .Contact__submit-link,
.Services__submit-link {
    padding: 2.5rem;
    font-size: 2.4rem;
  }
}
.Header__logo-headline {
  margin: 0;
  font-family: "Poiret One", cursive;
  font-size: 4.5rem;
  font-weight: normal;
}

.Header__logo-link {
  text-decoration: none;
  color: var(--clr-secondary);
  line-height: 1.7;
}

.Header__logo-letter {
  color: var(--clr-primary);
}

@media only screen and (min-width: 480px) {
  .Header__logo {
    line-height: 1.4;
  }

  .Header__logo-headline {
    font-size: 5.2rem;
  }

  .Header__logo-link {
    line-height: 1.4;
  }
}
@media only screen and (min-width: 768px) {
  .Header__logo {
    display: flex;
    flex: 0 0 33.333%;
    justify-content: center;
    align-items: center;
  }

  .Header__logo-headline {
    font-size: 4.2rem;
  }

  .Header__logo-link {
    line-height: 1.7;
  }
}
@media only screen and (min-width: 1040px) {
  .Header__logo-headline {
    font-size: 6.2rem;
    line-height: 1;
  }

  .Header__logo-link {
    line-height: 1;
  }
}
.Moto {
  background-image: url("../img/home-slide.jpg");
  background-position: center;
  background-size: cover;
  height: 29.6rem;
}

.Moto__container {
  padding: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Moto__text {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
  color: white;
  animation: moveInLeft 1s ease-out 0.3s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 100%;
    transform: translate(0);
  }
}
.Welcome {
  padding-bottom: 1rem;
  border-bottom: 8px solid var(--clr-primary);
}

.Welcome__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 1.5rem;
  box-sizing: border-box;
  text-align: center;
}

.Welcome__headline {
  margin: 0 auto;
  font: 3.2rem Roboto, sans-serif;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
}

.Welcome__text {
  margin: 1rem 0 0;
  padding: 0 1px;
  text-align: center;
  font: 1.8rem Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0;
}

.Gallery {
  background: #fafafa;
}

.Gallery__wrapper {
  padding: 5rem 0;
  text-align: center;
}

.Gallery__headline {
  margin: 0 auto 2rem auto;
  font: 3.2rem Roboto, sans-serif;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
}

.Gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Gallery__item {
  height: 100%;
  line-height: 0;
}

.Gallery__item-link {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: 0.3s all;
}

.Gallery__item-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

.Gallery__item-link:hover:after {
  background: rgba(0, 0, 0, 0.5);
}

.Gallery__image {
  width: 100%;
  transition: 0.3s all;
}

.Gallery__item-link:hover > .Gallery__image {
  transform: scale(1.2);
}

.Gallery__caption {
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  position: absolute;
  bottom: -9.9rem;
  box-sizing: border-box;
  font: 1.8rem Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0;
  text-align: left;
  background: var(--clr-primary);
  color: #fff;
  z-index: 2;
  transition: 0.3s all;
}

.Gallery__item-link:hover > .Gallery__caption {
  transform: translateY(-9.9rem);
}

.Offers {
  padding: 2rem 0 6rem;
  border-bottom: 8px solid var(--clr-primary);
}

.Offers__container {
  padding: 0 1.5rem;
}

.Offers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.Offers__item {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Offers__item:last-child {
  margin-bottom: 0;
}

.Offers__headline {
  margin: 0 0 2rem;
  font: 3.2rem Roboto, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  letter-spacing: 0px;
}

.Offers__num {
  margin-bottom: 1rem;
  padding: 1.9rem 2.1rem;
  font: 4.8rem Roboto, sans-serif;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 100;
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 5rem;
}

.Offers__headline-offer {
  margin: 0;
  text-transform: capitalize;
  font: 1.8rem Roboto, sans-serif;
  line-height: 1.3;
}

.Offers__headline-link {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s all;
}
.Offers__headline-link:hover {
  color: var(--clr-secondary);
}

.Offers__text {
  margin: 1.9rem 0 0;
  text-align: center;
  font: 1.4rem Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0px;
  color: var(--clr-secondary);
}

.Contact {
  padding: 5rem 0;
  background: #fafafa;
}

.Contact__container {
  text-align: center;
}

.Contact__headline {
  margin: 0 0 2rem;
  font: 3.2rem Roboto, sans-serif;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
}

.Contact__form {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border: 1px solid transparent;
}

.Contact__input,
.Contact__textarea {
  margin-bottom: 7px;
  padding: 2rem 36px;
  font: 16px Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  transition: 0.3s all;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 3rem;
}
.Contact__input:focus,
.Contact__textarea:focus {
  outline: none;
}

.Contact__input:nth-child(-n+3) {
  padding-left: 4rem;
}

.Contact__textarea {
  margin-bottom: 0;
  padding: 2rem 36px;
  resize: none;
}

.Contact__input--red-border:focus,
.Contact__textarea--red-border:focus {
  border-color: #f86c4e;
}

.Services {
  padding: 5rem 0;
}

.Services__container {
  padding: 0 1.5rem;
  text-align: center;
}

.Services__headline {
  margin: 0 0 2rem;
  text-transform: uppercase;
  font: 3.2rem Roboto, sans-serif;
  font-weight: 100;
  line-height: 1;
}

.Services__lists {
  margin-bottom: 3rem;
}

.Services__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Services__menu--bottom {
  margin-top: 2rem;
}

.Services__item {
  margin-bottom: 2rem;
}

.Services__item:last-child {
  margin-bottom: 0;
}

.Services__heading-line {
  margin: 1rem 0 0;
  text-align: left;
  font: 1.8rem Roboto, sans-serif;
  font-weight: 300;
}

.Services__heading-link {
  text-decoration: none;
  color: var(--clr-primary);
  transition: 0.3s all;
}
.Services__heading-link:hover {
  color: var(--clr-secondary);
}

.Services__text {
  margin: 2rem 0 0;
  padding: 0 5px;
  font: 1.4rem/1.4 Roboto, sans-serif;
  font-weight: 300;
  text-align: left;
}

.Services__item:last-child .Services__text {
  margin: 2rem 0 0;
}

footer {
  padding: 4rem 0 2rem;
}

.footer__container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-networks {
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1;
}

.footer__social-item {
  margin: 0 5px;
}

.footer__social-link {
  color: var(--clr-primary);
  transition: 0.3s all;
  font-size: 1.6rem;
}
.footer__social-link:hover {
  color: var(--clr-secondary);
}

.footer__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__number {
  margin: 0 0 2rem;
  font: 2.6rem/1 Roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 0;
}

.footer__number-link {
  text-decoration: none;
  color: var(--clr-secondary);
  transition: 0.3s all;
}
.footer__number-link:hover {
  color: var(--clr-primary);
}

.footer__copyright-text {
  margin: 0;
  font: 1.5rem/1.4 Roboto, sans-serif;
  font-weight: 300;
}

.footer__copyright-link {
  text-decoration: none;
  transition: 0.3s all;
  color: var(--clr-secondary);
}
.footer__copyright-link:hover {
  color: var(--clr-primary);
}

@media only screen and (min-width: 480px) {
  .Moto {
    height: 32.6rem;
  }

  .Moto__text {
    font-size: 5rem;
  }

  .footer__number {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 1.01rem;
  }

  .Moto {
    height: 32.8rem;
  }

  .Moto__container {
    padding: 7rem 0;
  }

  .Moto__text {
    font-size: 6rem;
  }

  .Welcome__container {
    padding: 7rem 1.5rem;
  }

  .Welcome__headline {
    font-size: 4rem;
  }

  .Gallery__wrapper {
    padding: 7rem 0;
  }

  .Gallery__headline {
    font-size: 4rem;
  }

  .Gallery__caption {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .Offers {
    padding: 2rem 0 6rem;
    border-bottom: 8px solid var(--clr-primary);
  }

  .Offers__container {
    padding: 0;
  }

  .Offers__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Offers__item {
    margin: 0;
    padding: 0 1.5rem;
    flex: 0 0 33.333%;
    box-sizing: border-box;
  }

  .Offers__headline {
    font-size: 4rem;
  }

  .Offers__headline-link {
    font-size: 2rem;
  }

  .Contact {
    padding: 7rem 0;
  }

  .Contact__container {
    max-width: 120rem;
    margin: 0 auto;
  }

  .Contact__headline {
    font-size: 4rem;
  }

  .Services {
    padding: 7rem 0;
  }

  .Services__container {
    padding: 0;
  }

  .Services__headline {
    font-size: 4rem;
  }

  .Services__lists {
    padding-left: 5px;
  }

  .Services__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Services__item {
    max-width: 33.33333333%;
    margin-bottom: 0;
    padding-right: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex: 0 0 33.33333333%;
    box-sizing: border-box;
  }

  .Services__item:nth-child(3) {
    padding-right: 0;
  }

  .Services__icon {
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
    padding: 0 1.5rem;
    box-sizing: inherit;
  }

  .Services__description {
    max-width: 66.666666%;
    flex: 0 0 66.666666%;
    padding-left: 1.5rem;
    box-sizing: inherit;
  }

  .Services__heading-line {
    margin: 0;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0px;
  }

  .footer__number {
    font-size: 4.1rem;
  }
}
@media only screen and (min-width: 937px) {
  .Gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .Gallery__item {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1040px) {
  main {
    padding-top: 12rem;
  }

  .Moto {
    height: 66rem;
  }

  .Moto__container {
    padding: 15.5rem 0 0;
  }

  .Moto__text {
    margin-bottom: 5rem;
    font-size: 10rem;
    line-height: 1.2;
  }

  .Welcome {
    padding-bottom: 2.5rem;
  }

  .Welcome__container {
    padding: 15.5rem 1.5rem;
  }

  .Welcome__headline {
    font-size: 5.8rem;
    letter-spacing: -1px;
  }

  .Welcome__text {
    margin: 2.5rem 0 0;
    font-size: 2.2rem;
    line-height: 1.4;
  }

  .Gallery__headline {
    margin: 0;
    padding: 8.5rem 0 5.5rem;
    font-size: 5.8rem;
    letter-spacing: -1px;
  }

  .Gallery__caption {
    padding: 7rem 6rem 5rem;
    bottom: -19.8rem;
    font-size: 2rem;
  }

  .Gallery__item-link:hover > .Gallery__caption {
    transform: translateY(-19.8rem);
  }

  .Gallery__link {
    padding: 2.5rem 6.65rem;
    font-size: 2.4rem;
  }

  .Gallery__widget {
    padding: 5.5rem 0 8.5rem;
  }

  .Offers {
    padding: 5.5rem 0 16.5rem;
  }

  .Offers__container {
    max-width: 120rem;
    margin: 0 auto;
  }

  .Offers__headline {
    margin-bottom: 2.5rem;
    font-size: 5.8rem;
    letter-spacing: -1px;
  }

  .Offers__num {
    margin-bottom: 2.5rem;
    padding: 4.8rem 5.1rem;
    font-size: 8.8rem;
    border: 2px solid;
    border-radius: 10.2rem;
  }

  .Offers__headline-link {
    font-size: 2.4rem;
  }

  .Offers__text {
    margin-top: 5.5rem 8.5rem;
    font-size: 1.5rem;
  }

  .Contact {
    padding: 5.5rem 0;
  }

  .Contact__headline {
    margin-bottom: 55px;
    font-size: 5.8rem;
    letter-spacing: -1px;
  }

  .Services {
    padding: 155px 0;
  }

  .Services__item {
    margin-bottom: 75px;
  }

  .Services__item--bottom {
    margin-bottom: 0px;
  }

  .Services__headline {
    margin-bottom: 55px;
    font-size: 5.8rem;
    letter-spacing: -1px;
    line-height: 1;
  }

  .Lists {
    margin-bottom: 3rem;
  }

  .Services__heading-line {
    font-size: 2.4rem;
  }

  .Services__text {
    font-size: 5.5rem 0.8 0.5rem;
    line-height: 1.4;
  }

  .Services__submit {
    min-width: 5.5rem;
  }

  footer {
    padding: 55px 0;
  }

  .footer__social-networks {
    padding-top: 35px;
    margin-bottom: 55px;
  }

  .footer__social-item {
    margin: 0 16px;
  }

  .footer__number {
    font-size: 5.8rem;
    margin-bottom: 55px;
  }
}
@media only screen and (min-width: 1397px) {
  .Gallery__item {
    flex: 0 0 33.333%;
  }

  .Gallery__item:nth-child(7),
.Gallery__item:last-child {
    flex: 0 0 50%;
  }

  .Services__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.icon {
  padding: 0 3.3rem 1rem 3.3rem;
  font-size: 3.5rem;
  color: var(--clr-primary);
  border-bottom: 1px solid var(--clr-primary);
}

.icon::before,
.footer__social-icon::before {
  color: var(--clr-primary);
  transition: 0.3s color;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.icon-heart::before {
  content: "";
}

.icon-eye::before {
  content: "";
}

.icon-umbrella::before {
  content: "";
}

.icon-coffe::before {
  content: "";
}

.icon-clock::before {
  content: "";
}

.icon-user::before {
  content: "";
}

.footer__social-icon:hover::before {
  color: var(--clr-text);
}

.facebook::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}

.linkedin::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}

.twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}

.pinterest::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}

.instagram::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}

.fa-coffee {
  padding-top: 30px;
}

@media only screen and (min-width: 768px) {
  .far,
.fas {
    margin-right: 2rem;
    padding: 0 0 1rem;
    font-size: 4.8rem;
  }

  .fa-coffee {
    padding-top: 0;
    margin-right: 2.4rem;
  }
}
@media only screen and (min-width: 1040px) {
  .icon {
    font-size: 5.8rem;
    padding: 0 2rem 2.5rem;
  }
}
:root {
  --clr-primary: #39c4f1;
  --clr-secondary: #303334;
  --clr-text: #434f53;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.42857143;
  background: #fff;
}

/*# sourceMappingURL=style.css.map */
